.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
  padding: 20px;
}

.login-img img {
  width: 100%;
  border-radius: 10px;
}


.login-container {
  width: 450px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.login-container p:nth-of-type(1) {
  font-size: 22px;
  margin-bottom: 10px;
}

.login-container p:nth-of-type(2) {
  margin-bottom: 20px;
  font-size: 14px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.login-btn {
  background: #db4444;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #c53c3c;
}



.forgot-link {
  font-size: 14px;
  color: #db4444;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}


@media (min-width: 1025px) {
  .login {
    flex-direction: row;
    gap: 40px;
  }

  .login-img img {
    max-width: 700px;
  }

  .login-container {
    width: 60%;
    max-width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login {
    flex-direction: row;
    gap: 30px;
  }

  .login-img img {
    width: 100%;
    max-width: 450px;
  }

  .login-container {
    width: 45%;
    max-width: 400px;
    padding: 30px;
  }

  .login-container p:nth-of-type(1),
  .login-container p:nth-of-type(2) {
    text-align: left;
    font-size: 18px;
  }

  .login-actions {
    flex-direction: row;
    justify-content: space-between;
  }

  .login-btn {
    width: auto;
  }
}

/* Mobile < 768px */
@media (max-width: 667px) {
  .login {
    flex-direction: column;
    gap: 20px;
  }

  .login-img img {
    width: 100%;
    max-width: 250px;
  }

  .login-container {
    width: 90%;
    max-width: 350px;
    padding: 20px;
  }

  .login-container p:nth-of-type(1),
  .login-container p:nth-of-type(2) {
    text-align: center;
  }

  .login-actions {
    flex-direction: column;
    gap: 10px;
  }

  .login-btn {
    width: 100%;
  }
}




.input-group {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
