.container-all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 10px;
  
}

.product-wrapper {
    flex: 1 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
    display: flex;
    justify-content: center;
}


@media (max-width: 992px) {
    .product-wrapper {
        flex: 1 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}


@media (max-width: 576px) {
    .product-wrapper {
        flex: 1 0 100%;
        max-width: 100%;
        justify-content: center;
    }
}