.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:black;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}


html {
    scroll-behavior: smooth;
}