.Sidebar {
    width: 30%;
    min-width: 200px;
}

.Sidebar .container {
    width: 100%;
}

.Sidebar .container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 10px 10px 10px;
    transform: translateY(-10px);
    margin: 0;
}

.Sidebar .container ul li {
    transition: 0.3s;
    width: 100%;
    list-style: none;
    cursor: pointer;
    font-family: var(--font-bold);
    padding: 5px 10px;
}

.Sidebar .container ul li:hover {
    color: rgba(48, 47, 47, 0.664);
}

.Sidebar .container ul::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 400px;
    background-color: rgba(32, 32, 32, 0.171);
    transform: translate(80px);
}

/* ========== Mobile (≤576px) ========== */
@media (max-width: 576px) {
    .Sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .Sidebar .container ul {
        align-items: center;
        transform: translateY(0);
    }

    .Sidebar .container ul::after {
        display: none;
    }
}

@media (max-width: 992px) {
    .Sidebar {
        display: none;
    }
}