.Navbar {
    width: 100%;
    padding: 15px 25px 10px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.123);
}

nav {
    margin: auto;
    padding: 10px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav * {
    cursor: pointer;
}

nav .logo img {
    width: 118px;
    height: 24px;
}

ul li a.active,
.act-icons.active * {
    color: var(--btn-color);
    font-family: var(--font-bold);
    text-decoration: underline;
    transition: 0.3s;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 15px;
    background-color: var(--body-bg);
}

.search-cart-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.search-cart-wishlist .search {
    position: relative;
    width: 243px;
    height: 38px;
}

.search-cart-wishlist .search input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px;
    background-color: var(--product-bg);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: var(--main-color);
}

.search-cart-wishlist .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--main-color);
    pointer-events: none;
}

.icons-page {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.search-cart-wishlist a {
    text-decoration: none;
    color: var(--main-color) !important;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--main-color);
}

/* ========== RESPONSIVE ========== */
@media (max-width: 992px) {
    nav .logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          
        }
    .menu-toggle {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin-top: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .search-cart-wishlist {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin-top: 10px;
        gap: 15px;
    }

    .search-cart-wishlist .search {
        width: 100%;
    }

    .icons-page {
        justify-content: space-around;
        width: 100%;
    }
}

.search {
    position: relative;
    width: 243px;
    height: 38px;
}

.search input {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 10px;
    background-color: var(--product-bg);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: var(--main-color);
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--main-color);
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.07);
    z-index: 100;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
}

.search-item {
    padding: 10px 15px;
    cursor: pointer;
    color: var(--main-color);
    transition: 0.3s;
}

.search-item:hover {
    background-color: rgba(41, 41, 41, 0.075);
    color: var(--btn-color);
}