.about {
  text-align: center;
  padding: 50px 20px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #db4444;
}

/* ----- Team Grid ----- */
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 50px;
}

.team-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 9px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s, background 0.3s;
}

.team-card:hover {
  transform: translateY(-25px);
  background: #f9f9f9;
  cursor: pointer;
}

.team-card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;

}

.team-card h3 {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

.team-card p {
  font-size: 14px;
  color: #666;
}

.social-links {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links .icon {
  color: #db4444;
  font-size: 25px;
  transition: transform 0.3s, color 0.3s;
}

.social-links .icon:hover {
  color: #c53c3c;
  transform: scale(1.3) ;
}



@media (max-width: 768px) {
  .about h2 {
    font-size: 1.6rem;
  }

  .team-card {
    padding: 15px;
  }

  .team-card img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 30px 10px;
  }

  .about h2 {
    font-size: 1.4rem;
  }

  .team-card h3 {
    font-size: 16px;
  }

  .team-card p {
    font-size: 13px;
  }

  .social-links .icon {
    font-size: 20px;
  }
}
