* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'poppines';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --font-bold: 'inter';
    --font-text: 'poppines';
    --main-color: #000000;
    --btn-color: #DB4444;
    --product-bg: #F5F5F5;
    --body-bg: #FFFFFF;

}

main {
    font-family: var(--font-text);
    color: var(--main-color);
    overflow: hidden;
    padding: 0 5px;

}