* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'poppines';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --font-bold: 'inter';
    --font-text: 'poppines';
    --main-color: #000000;
    --btn-color: #DB4444;
    --product-bg: #F5F5F5;
    --body-bg: #FFFFFF;

}

main {
    font-family: var(--font-text);
    color: var(--main-color);
    overflow: hidden;


}

del {
    font-size: 15px;
    margin-left: 10px;
}

.section-heading {
    width: 100%;

}

.section-heading>div:nth-of-type(1) {
    position: relative;
}

.section-heading>div:nth-of-type(1) p {
    font-family: var(--font-bold);
    color: var(--btn-color);



}

.section-heading>div:nth-of-type(1)::before {
    content: '';
    left: 0;
    top: 0;
    width: 16px;
    height: 33px;
    position: absolute;
    background-color: var(--btn-color);
    transform: translate(-30px, -5px);
    border-radius: 3px;



}

.section-heading>div:nth-of-type(2) {
    width: 100%;
    display: flex;
    transform: translateX(-30px);
    align-items: center;
    gap: 20px;

}

.section-heading>div:nth-of-type(2) h2 {
    font-family: var(--font-bold);
}

.section-heading>div:nth-of-type(2) div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.section-heading>div:nth-of-type(2) .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.section-heading>div:nth-of-type(2) .time b {
    font-family: var(--font-bold);
    font-size: 25px;
    transform: translateY(-20px);
}