* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'poppines';
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --font-bold: 'inter';
    --font-text: 'poppines';
    --main-color: #000000;
    --btn-color: #DB4444;
    --product-bg: #F5F5F5;
    --body-bg: #FFFFFF;

}

main {
    font-family: var(--font-text);
    color: var(--main-color);
    overflow: hidden;


}

del {
    font-size: 15px;
    margin-left: 10px;
}

.section-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.section-heading>div:first-of-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-heading>div:first-of-type p {
    font-family: var(--font-bold);
    color: var(--btn-color);
    margin: 0;
    padding-left: 30px;
    position: relative;
    font-size: 18px;
}

.section-heading>div:first-of-type::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 34px;
    background-color: var(--btn-color);
    border-radius: 3px;
}

.section-heading h2 {
    font-family: var(--font-bold);
    font-size: 32px;
    margin: 0;
}

@media (max-width: 992px) {
    .section-heading {
        align-items: center;
        text-align: center;
    }

    .section-heading>div:first-of-type {
        justify-content: center;
    }

    .section-heading>div:first-of-type p {
        font-size: 16px;
        padding-left: 30px;
    }

    .section-heading>div:first-of-type::before {
        left: calc(50% - 60px);
        /* adjust for center alignment */
    }

    .section-heading h2 {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .section-heading h2 {
        font-size: 20px;
    }

    .section-heading>div:first-of-type p {
        font-size: 14px;
    }

    .section-heading>div:first-of-type::before {
        width: 12px;
        height: 28px;
        left: calc(50% - 55px);
    }
}